.iconeServices {
    max-width: 30%;
    flex-direction: row !important;
    align-items: center;
    margin: 0 5vw 0 5vw;
}

.photoService {
    display: flex;
    align-items: center;
    justify-content: center;
}