.iconeServices {
    flex-direction: row !important;
    align-items: center;
    margin: 0 5vw 0 5vw;
    height: 40vh;
}
.figcaption {
    height: 45vh;
}

.figureService {
    margin: 2vh;
}
.puce {
    margin-right: 5px;
}

.titreList {
    margin-bottom: 1em;
}
.listService {
    padding: 1em;
}

.flexDirectionService {
    @media (min-width: 1024px) {
        flex-direction: row !important;
    }
}
