.sectionAbout {
    justify-content: space-around;
    align-items: center;
    margin: 2vw;
}

.blockAbout {
    width: 50%;
}

.blockAboutImg {
    display: flex;
    justify-content: center;
    height: 80vh;
}

#ancreAbout {
    margin-top: 1vh;
}

.titreAbout {
    margin-bottom: 20px;
    text-align: center;
    font-size: 3vw;
}
