.titreCentre {
font-size: 3.5vw;
justify-content: center;
align-items: center;
margin: 2vw;
}
.testBackground {
    background-color: $quaternaire;
    border-radius: 1em;
    margin-bottom: 2vw;
    @media (min-width: 656px){
        flex-direction: row !important;
        justify-content:space-around ;
        margin: 0 2vw 0 0;
    }
}
.pageContact {
    align-items: center;
    justify-content: center;
    background-color: $primaire;
}
.carteContact {
    background-color: $quaternaire;
    border-radius: 1em;
    padding: 2vw !important;
    align-items: center;
    @media (min-width: 656px){
        flex-direction: row !important;
        justify-content:space-around ;
        margin: 2vw;
    }
    @media (min-width: 1024px){
        width: 950px;
        height: auto;
        align-items: center;
    }
    

}
.blanc {
    color: $textPrimaire;
    @media (min-width: 1440px) {
        font-size: 3em!important;
    }
}

.logoContact {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    @media (min-width: 425px){
        height : 30vh;
    }
    @media (min-width: 768px){
        width: auto;
        height: 50vh;
    }
    img {
        width: 100%;
        @media (min-width: 425px){
            height :100%;
            width: auto;
        }
    
    }

}


.lienContact {
    padding: 5px;
    p {
        font-family: 'Clicker Script';
    }
    i {
        max-width: 10%;
    }
    p, i {
        color: $textPrimaire;
        font-size: 1.5em;
        @media (min-width:768px) {
            font-size:calc(2vw + 1em) ;
        }
        @media (min-width:1024px) {
            font-size: 2em;
        }
    }
    a {
        align-items: center;
    }
}

.borderRonde {
    border: solid 2px blue;
    border-radius: 50%;
}