$primaire: #f3f2c9;
$secondaire: #edebab;
$textPrimaire:#1f1f1f;
$textSecondaire: #f3f2c9;
$quaternaire : #caf4d1;
$tertiaire : #d6f1c2;

$shadow : 0 0 8px 1px $primaire - 50;
 // #f3f2c9;

$backgroundNavbar : $tertiaire; 
$backgroundAbout : $secondaire